@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animate-move {
    animation: moveUpDown 4s ease-in-out infinite;
  }
  
  